/Example Project/Example Project 1.1 Unity 5.3.2f1.CSharp.csproj
/Example Project/Example Project 1.1 Unity 5.3.2f1.csproj
/Example Project/Example Project 1.1 Unity 5.3.2f1.sln
/Example Project/.vs
/Example Project/Library
/Example Project/obj
/Example Project/UnityPackageManager
/Example Project/Assembly-CSharp.csproj
